
body {
  background-image: url("./assets/react.svg");
  background-size:contain;
 background-color:grey;
  background-repeat:no-repeat;
  background-position-x:right;

}
.nav-list{
  list-style: none;
}

.header-nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 20px;
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  background:black;
  color:white;
  font-size:20px;
  font-family:arial;
}

.log{
  height:40px;
  width:55px;
}


.main-content h1{
  margin:0;
  font-size:1.5rem;
  
}
.main-content ul li::marker{
  color: blue;
  font-size:1.5rem;
}

.nav-list{
  display:flex;
  justify-content:space-between;
  gap:20px;
  margin:0;
  padding-right:50px;
  list-style:none;
  transition:0.2s ease;

}
.nav-list-items:hover{
  color: grey;
}

.footer{
  background-color:black;
  color:white;
  margin-top:40px;
  padding:10px;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  font-size:1.2rem;

}

.main-content{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  min-height:100vh;

}

.main-content h1{
  font-size:2.3rem;
}

.main-content ol{
  font-size:1.2rem;
}
